{
  "name": "{{ name }}",
  "globIgnorePaths": ["**/package.json", "**/tsconfig.json"],
  "tree": {
    "$className": "DataModel",

    "ServerScriptService": {
      "TS": {
        "$path": "out/server"
      }
    },

    "ReplicatedStorage": {
      "rbxts_include": {
        "$path": "include",
        "node_modules": {
          "$className": "Folder",
          "@flamework": {
            "$path": "node_modules/@flamework"
          },
          "@rbxts": {
            "$path": "node_modules/@rbxts"
          }
        }
      },
      "TS": {
        "$path": "out/shared"
      }
    },

    "StarterPlayer": {
      "StarterPlayerScripts": {
        "TS": {
          "$path": "out/client"
        }
      }
    },

    "Workspace": {
      "$properties": {
        "FilteringEnabled": true
      }
    },

    "SoundService": {
      "$properties": {
        "RespectFilteringEnabled": true
      }
    },

    "HttpService": {
      "$properties": {
        "HttpEnabled": true
      }
    }
  }
}
