{
  "name": "{{ packageName }}",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "dev": "rowork dev",
    "build": "rbxtsc",
    "watch": "rbxtsc -w"
  },
  "dependencies": {},
  "devDependencies": {}
}
