import { Flamework } from "@flamework/core";

/** Point d'entree client. Voir runtime.server.ts pour le fonctionnement d'addPaths. */
Flamework.addPaths("src/client/controllers");

Flamework.ignite();
