import { BaseComponent, Component } from "@flamework/components";
import { OnStart } from "@flamework/core";
{{ imports }}
/** Attached by Flamework to every {{ instanceType }} carrying the "{{ tag }}" CollectionService tag. */
@Component({ tag: "{{ tag }}" })
export class {{ className }} extends BaseComponent{{ generics }} implements OnStart {
{{ members }}	onStart(): void {}
}
