import { Controller, OnStart } from "@flamework/core";

/**
 * A controller is the client-side counterpart of a service.
 * Generate more with `rowork make:controller <Name>`.
 */
@Controller()
export class ExampleController implements OnStart {
	onStart(): void {
		print("[{{ name }}] ExampleController started.");
	}
}
