import { OnStart, Service } from "@flamework/core";

/**
 * Un service est un singleton serveur, instancie et injecte par Flamework.
 * Genere d'autres services avec `rowork make:service <Nom>`.
 */
@Service()
export class ExampleService implements OnStart {
	onStart(): void {
		print("[{{ name }}] ExampleService demarre.");
	}
}
